
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:x-com.store
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} (www\.)?x-com.store
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:x-com.store
